{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2>{{course.course_id}}: {{ course.course_name }}</h2>
<h5>{{ course.review_set.count }} reviews ({{course.average_rating }} average rating)</h5>
{% endblock %}

{% block content %}
<h3>Course Details:</h3>
<p>{{course.course_details}}</p>
<h3>Recent reviews</h3>

{% if course.review_set.all %}
<div class="row">
    {% for review in course.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <em>{{ review.summary }}</em>
        <h6>Rated {{ review.rating }} of 5 by <a href="{% url 'reviews:review_detail' review.id %}" >{{ review.user_name }}</a></h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this course yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'reviews:add_review' course.id %}" method="post" class="form">
    {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field%}
        {% endfor%}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}
