{% extends 'base.html' %}

{% block title %}
<h3>Course list</h3>
{% endblock %}

{% block content %}
{% if course_list %}
<form id="search">
<select id="org" name="course_list" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
 <option  value="" selected="selected">---SELECT COURSE---</option>
{% for course in course_list %}
   <option value="{% url 'reviews:course_detail' course.id %}"
       {% if course == current_course %}selected="selected"{% endif %}>
       <h4><a href="{% url 'reviews:course_detail' course.id %}">
        {{ course.course_id }}: {{course.course_name}}
        </a></h4>
   </option>
{% endfor %}
</select>
</form>
<div class="row">
    {% for course in course_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:course_detail' course.id %}">
        {{ course.course_id }}: {{course.course_name}}
        </a></h4>
        <h5>{{ course.review_set.count }} reviews</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No courses are available.</p>
{% endif %}
{% endblock %}
