{% extends 'base.html' %}
{% load user_ratings %}

{% block title %}
<h3>Welcome to the Student Course Review</h3>
{% endblock %}

{% block content %}
{% if latest_review_list %}
<h4>Latest Reviews</h4>
<div class="row">
    {% for review in latest_review_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:review_detail' review.id %}">
        {{ review.course.course_id }}
        </a></h4>
        {% user_ratings review.course review.rating %}
        <h6>by <a href="{% url 'user_detail' review.user_name %}">
            {{ review.user_name }}</a></h6>
        <p>{{ review.summary }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}
