{% extends 'base.html' %}
{% block title %}
 This project has been created as a part of course CS-252 : Computing Laboratory - II. 
{% endblock %}

{% block content %}
<h3> For further details contact the following :</h3>

               <div class="contacti">
               <a target="_blank" href="">
             <img src="static/user1.png" alt="Ankur" width="700" height="300">
  </a>
  <div class="contactd">Ankur Kumar
Y14 CSE department
ankurk@iitk.ac.in</div>
</div>

  <div class="contacti">
               <a target="_blank" href="http://home.iitk.ac.in/~ishika/">
             <img src="static/user2.png" alt="Ishika " width="700" height="300">
  </a>
  <div class="contactd">Ishika Soni
Y14 CSE department
ishika@iitk.ac.in</div>
</div>
  <div class="contacti">
               <a target="_blank" href="https://www.linkedin.com/in/kritagya-dabi-2a1057104?trk=nav_responsive_tab_profile">
             <img src="static/user1.png" alt="Kritagya Dabi" width="700" height="300">
  </a>
  <div class="contactd">Kritagya Dabi
Y14 CSE department
kdabi@iitk.ac.in</div>
</div>
{% endblock %}
